@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
html, body {
    background: linear-gradient(orange, gold, red, darkred, red, gold, orange);
    color: black;
    font-family: "Creepster", system-ui;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
}
header {
    background: rgba(255, 0, 0, 0.541);
    color: white;
    font-family: Arial, sans-serif;
    width: 94%;
    text-align: center;
    position: fixed;
    top: 1.5vh;
    left: 2.3%;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 5px lightgray;
    z-index: 1;
    overflow: visible;
}
header a {
    color: white;
}
header h2 {
    margin: 0;
    padding: 0;
}
.headerNote {
    color: white;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.541);
}
.aboutUs {
    width: 100%;
    background: linear-gradient(#4D2C54, black);
    color: white;
    text-align: center;
}
footer {
    background: black;
    color: white;
    width: 100%;
}
footer a {
    color: white;
    font-size: 1.5em;
}
footer p {
    font-size: 1.2em;
}
footer a.websiteLink {
    color: red;
    font-family: Segoe UI Light, Segoe UI, Arial;
}
